.container {
  width: 100%;
  max-height: 100vh;
  min-height: 100vh;
  overflow: hidden;
  transform: scale(1);
  cursor: pointer;

  img {
    width: 100%;
    max-height: 100vh;
    min-height: 100vh;
    object-fit: cover;
    line-height: 0;
    margin: 0;
    padding: 0;

    transform: rotate(0deg);
    transform: scale(4);
    animation: ch1 10s ease-in-out infinite;
  }
}

@keyframes ch2 {
  0% {
    filter: hue-rotate(0deg);
    transform: scale(2);
  }

  10% {
    filter: hue-rotate(90deg);
    transform: scale(2.2);
  }

  50% {
    filter: hue-rotate(110deg);
    transform: scale(2.9);
  }

  9% {
    filter: hue-rotate(30deg);
    transform: scale(2.3);
  }
}

@keyframes ch1 {
  0% {
    filter: hue-rotate(-90deg);
    transform: scale(2);
  }

  50% {
    filter: hue-rotate(90deg);
    transform: scale(2);
  }

  80% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(30deg);
    transform: scale(3.8);
  }
}